<h1>Members Index</h1>

<p><%= Member.all().count %> members currently registered</p>

<% @members = @members.sort_by {|member| member.pretty_name()} %>

<ul>
  <% @members.each do |member| %>
  <li> <a href="/gym/members/<%= member.id() %>"> <%= member.pretty_name() %></a> </li>
</ul>
<hr>
<% end %>
