<h1>Add New Member</h1>

<form action="/gym/members" method="post">

<div class="grid">
  <div class="grid-row">
    <div class="cell-left">
      <label for="first-name"> First Name: </label>
    </div>
    <div class="cell-right">
      <input id="first-name" type="text" name="first_name" required>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="last-name"> Last Name: </label>
    </div>
    <div class="cell-right">
      <input id="last-name" type="text" name="last_name" required>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="membership-select"> Membership type: </label>
    </div>
    <div class="cell-right">
      <select id="membership-select" name="member_type" required>
        <option value="standard">standard</option>
        <option value="premium">premium</option>
      </select>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="phone-number"> Phone number: </label>
    </div>
    <div class="cell-right">
      <input id="phone-number" type="text" name="phone_number" required>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="address"> Address: </label>
    </div>
    <div class="cell-right">
      <input id="address" type="text" name="address" required>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="dob"> Date of birth: </label>
    </div>
    <div class="cell-right">
      <input id="dob" type="text" name="dob" required>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell-left">
      <label for="image"> Profile picture: </label>
    </div>
    <div class="cell-right">
      <input id ="image" type="file" name="image" accept="image/*" required>
    </div>
  </div>

  <div class="grid-row">
    <div class="cell">
      <input type="submit" value="Add member">
    </div>
  </div>

</div>

</form>
