<h1>Classes Offered</h1>

<form class="new-class-btn" action="/gym/classes/new" method="get">
  <input type="submit" value="Add new class">
</form>

<ol>
<% @gymclasses.each do |gymclass| %>
<li><a href="/gym/classes/<%= gymclass.id() %>"> <%= gymclass.name() %></a> </li>
<hr>
<% end %>
</ol>
