<h1>Classes Offered</h1>

<% counter = 1 %>

<% @gymclasses.each do |gymclass| %>
<p><%= counter %>) <%= gymclass.name() %> </p>
<p> <a href="/gym/classes/<%= gymclass.id() %>"> View details</a></p>
<hr>
<% counter += 1 %>
<% end %>

<form action="/gym/classes/new" method="get">
  <input type="submit" value="Add new class">
</form>
