<h1>Classes Offered</h1>

<form action="/gym/classes/new" method="get">
  <input type="submit" value="Add new class">
</form>

<% counter = 1 %>

<% @gymclasses.each do |gymclass| %>
<p><%= counter %>) <a href="/gym/classes/<%= gymclass.id() %>"> <%= gymclass.name() %></a> </p>
<hr>
<% counter += 1 %>
<% end %>
