<form action="/gym/classes" method="post">

  <label for="name"> Class name: </label>
  <input id="name" type="text" name="name">

  <br/>
  <br/>

  <label for="capacity"> Capacity: </label>
  <input id="capacity" type="text" name="capacity">

  <br/>
  <br/>

  <label for="description"> Description: </label>
  <input id="description" type="text" name="description">

  <br/>
  <br/>

  <label for="image"> Image: </label>
  <input id ="image" type="file" name="image" accept="image/*">

  <br/>
  <br/>

  <input type="submit" value="Add new class">

</form>
