<h1>Class Timetable</h1>

<% @sessions.each do |session| %>
<p> <%= session.day() %> </p>
<p> <%= session.pretty_time() %> </p>
<p>Class: <%= session.gymclass.name() %> </p>
<p> <a href="/gym/<%= session.id %>">Show details</a></p>
<hr>
<% end %>
