<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gym</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/gym">Class timetable</a></li>
        <li><a href="/gym/classes">Classes offered</a></li>
        <li><a href="/gym/new_session">Add new session</a></li>
        <li><a href="/gym/members">View all members</a></li>
        <li><a href="/gym/members/new">Add new member</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
