<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">

    <meta charset="utf-8">
    <title>Gym</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  </head>
  <body>
    <main>
      <h1 class = "title"> <a href="/gym">Gym Management System</a></h1>
      <nav>
        <ul>
          <li><a href="/gym">Class timetable</a></li>
          <li><a href="/gym/classes">Classes offered</a></li>
          <li><a href="/gym/new_session">Add new session</a></li>
          <li><a href="/gym/members">View all members</a></li>
          <li><a href="/gym/members/new">Add new member</a></li>
        </ul>
      </nav>

      <section id="content">
        <%= yield %>
      </section>

    </main>
  </body>
</html>
