input[type="submit"] {
  text-transform: uppercase;
  /*font-family: 'Special Elite', cursive;*/
  font-family: 'Special Elite', cursive;
}

select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 /*margin: 20px;*/
 /*margin: 15px 0;*/
 font-size: 0.8em;
 /*-webkit-appearance: none;*/
 /*background: url('/images/hazard.png') 96% / 15% no-repeat papayawhip;*/
 font-family: 'Helvetica', serif;
 /*border: 1px solid #eee;*/
 /*display: block;*/
}
