main {
  height:100%;
}

p {
  color: darkslategrey;
}

body {
  /*color: red;*/
  background-color: lightgrey;
  font-family: 'Helvetica', serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 70px;
  border: 5px solid darkslategrey;
  border-radius: 40px;
}

html {
  /*background-color: teal;*/
  background-image: url('/images/background.jpeg');
  background-size:cover;
  /*background-color: steelblue;*/
  /*background-color: darkcyan;*/
}

.grid {
  border: 2px solid #bbb;
  border-radius: 25px;
}

.grid-row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 10px 15px 10px 15px;
  text-align: center;
  align-items: center;
}

.cell-left {
  flex: 1;
  padding: 10px 15px 10px 15px;
  text-align: right;
}

.cell-right {
  flex: 1;
  padding: 10px 15px 10px 15px;
  text-align: left;
}

/*figure {
  border: 2px solid #bbb;
  border-radius: 25px;
}*/

/*#content {
  background: black url('/images/sanfran.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}*/

a:link {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

/*a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}*/

section {
  margin: 40px;
}

.title{
	text-align:center;
  font-size: 26pt;
  margin:0px;
  text-transform: uppercase;
  font-family: 'Capriola', sans-serif;
	/*border-right:1px solid white;*/
	/*width: 2em;
	padding: 0px;
	margin: 0px;
	display: inline;
	margin-right: 13.5em;*/
}


.title a:link {
  color: darkslategrey;
}


.timetable {
  border: 2px solid #bbb;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
}

.timetable th {
    text-align: left;
}

/*.container {
	margin: 3.0em;
}*/

/*.main {
	margin: 4.0em;
  background-color: black;
}*/

h1 {
  font-family: 'Helvetica', serif;
  margin: 20px;
  padding: 0px;
  text-align: center;
  color: darkslategrey;
}

nav {
  text-align: center;
	font-weight: bold;
	border-bottom: 2px solid #bbb;
	padding-bottom:0px;
	/*margin: 10px;*/
}

/*nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}*/

nav ul li {
  padding: 10px;
  margin: 10px;
  /*margin-bottom: 0px;*/
  text-transform: uppercase;
  display: inline-flex;
  border-right: 2px solid #bbb;
}

/*li {
    /*float: right;*/


/*}*/

li:last-child {
    border-right: none;
}




/*li a {
    display: block;
    padding: 15px;
    background-color: #dddddd;
}*/

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

li {
  list-style: none;
}
