<form action="/gym/:id/add_member" method="post">

  <% if @session.spaces > 0 %>
  <label for="member-select"></label>
  <select id="member-select" name="new_member_id">
    <% @members.each do |member| %>
    <!-- only allow member to be added if they're not already booked or if they have the correct membership level -->
      <% if !member.in_session?(@session) %>
        <% if member.can_book?(@session) %>
          <option value="<%=member.id%>"><%= member.pretty_name() %> </option>
        <% end %>
      <% end %>
    <% end %>
  </select>

  <label for="session-id"></label>
  <input id="session-id" type="hidden" name="edited_session_id" value="<%= @session.id %>" readonly>
  <input type="submit" value="Add member">
  <% else %>
  <p>Class full!</p>
  <% end %>

</form>
